Django==1.5.1
argparse==1.2.1
distribute==0.6.45
dj-database-url==0.2.1
django-bootstrap-form==2.0.6
gunicorn==0.17.4
ipython==0.13.2
psycopg2==2.5
recaptcha-client==1.0.6
stevedore==0.8
wsgiref==0.1.2
south==0.8.1
