.faixa {
  position: fixed;
  height: 100%;
}
.faixa-amarela {
  position: fixed;
  height: 100%;
  background-color: #ffcc29;
  width: 40px;
  left: 95px;
}
.faixa-verde {
  position: fixed;
  height: 100%;
  background-color: #00a859;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 0 12px rgba(0, 0, 0, 0.35);
  -o-box-shadow: 0 0 12px rgba(0, 0, 0, 0.35);
  width: 95px;
  left: 0;
}
.faixa-verde .midias {
  position: absolute;
  bottom: 10px;
  margin-left: 5px;
}
body {
  background: url(../img/bg.png);
  font-family: "Open Sans";
}
.main {
  padding: 30px;
  margin-left: 100px;
}
.posts {
  background-color: #FFF;
  border-radius: 10px;
  margin-bottom: 20px;
}
.posts .post {
  padding: 30px;
}
.posts .post .fb-like {
  float: right;
}
.posts .post iframe {
  height: 342px;
  width: 560px;
}
.posts .post-title {
  margin-left: 0;
}
.pagination {
  margin-left: 20px;
}
.focus {
  background: rgba(200, 200, 200, 0.1);
}
.menu {
  margin-top: 150px;
  font-size: 12px;
  color: #FFF;
}
.menu ul {
  list-style-type: none;
  margin-left: -35px;
  text-align: center;
}
.menu li {
  text-align: center;
  margin-top: 30px;
}
.menu a {
  color: #FFF;
}
.menu a:hover {
  text-decoration: none;
}
.twitter {
  position: fixed;
  right: 50px;
  margin-top: 30px;
  margin-bottom: 50px;
}
.icone {
  margin-left: 50px;
  padding-top: 50px;
  padding-bottom: 6px;
  width: 58px;
  background: url(../img/iconesmin.png) no-repeat;
}
.icone:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.ultimas {
  background-position: 10px 0;
}
.contribua {
  background-position: -48px 0;
}
.eventos {
  background-position: -112px 0;
}
.new-entry {
  padding-top: 30px;
  text-align: center;
  width: 320px;
  margin: 0 auto;
}
.new-entry .control-group {
  margin-left: -110px;
}
.new-entry .control-group label {
  font-weight: bold;
}
.captcha {
  margin-top: 20px;
  height: 150px;
  width: 350px;
  margin: 0 auto;
}
@media only screen and (max-width: 1100px) {
  .twitter {
    display: none;
  }
}
