{% extends "base.html" %}

{% block content %}
{% if success %}
<div class="alert alert-success">
    Recebemos o seu envio, em breve as informação estarão disponíveis para todos.
</div>
{% elif fail %}
<div class="alert alert alert-error">
    Houve um problema com o seu envio, tente novamente.
</div>
{% endif %}
<p>Envie aqui informação sobre as manifestações: vídeos, datas ou links de artigos</p>

<form class="form-horizontal" method="POST">
    <fieldset class="new-entry">
        <script>var RecaptchaOptions = { theme : 'white' };</script>
        {% csrf_token %}
        {% load bootstrap %}
        {{ form|bootstrap }}

        <div class="captcha">
            <script type="text/javascript" src="https://www.google.com/recaptcha/api/challenge?k=6Ld25OISAAAAAGDKpHjw_a19k9wII29U4qF-Nwei">
            </script>
            <noscript>
                <iframe src="https://www.google.com/recaptcha/api/noscript?k=6Ld25OISAAAAAGDKpHjw_a19k9wII29U4qF-Nwei"
                height="300" width="500" frameborder="0"></iframe>
            </noscript>
        </div>
        <button type="submit" class="btn btn-info btn-block">Enviar</button>
    </fieldset>
</form>

<br /><br />
{% endblock %}