{% extends "base.html" %}
{% load bootstrap_toolkit %}

{% block content %}
  <form class="form-horizontal" id="form_entry" method="POST">
    <fieldset>
      <legend>
        <h3>Envie novas informações</h3>
        <small>
          Envie aqui informações sobre as manifestações: vídeos, datas, links de artigos.
        </small>
      </legend>

      {% csrf_token %}
      {{ form|as_bootstrap }}

      <div class="control-group required">
        <label class="control-label" for="id_text">Captcha</label>
        <div class="controls">
          <script type="text/javascript" src="https://www.google.com/recaptcha/api/challenge?k=6Ld25OISAAAAAGDKpHjw_a19k9wII29U4qF-Nwei">
          </script>
          <noscript>
           <iframe src="https://www.google.com/recaptcha/api/noscript?k=6Ld25OISAAAAAGDKpHjw_a19k9wII29U4qF-Nwei" height="300" width="500" frameborder="0"></iframe><br>
          </noscript>
        </div>
      </div>

      <div class="control-group">
        <div class="form-actions">
          <button type="submit" class="btn btn-primary">Enviar</button>
          <a href="{% url 'index' %}" class="btn">Cancelar</a>
        </div>
      </div>
    </fieldset>
  </form>
  <br/>
  <br/>
  <h4>Para quem trabalha com computação</h4>
  <p>Contribua para o projeto em: <a href="https://github.com/filipeximenes/ogiganteacordou">https://github.com/filipeximenes/ogiganteacordou</a></p>
{% endblock %}
